Options +ExecCGI
AddHandler cgi-script .py
ErrorDocument 404 404
<FilesMatch "\.(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>
